<?xml version="1.0"?>
<config>
    <modules>
        <Efulfilment_BizzyBee>
            <version>0.0.1</version>
        </Efulfilment_BizzyBee>
    </modules>
    <frontend>
       <routers>
          <routeurfrontend>
              <use>standard</use>
              <args>
                 <module>Efulfilment_BizzyBee</module>
                 <frontName>BizzyBee</frontName>
              </args>
           </routeurfrontend>
       </routers>
    </frontend>
    <global>
        <models>
            <Efulfilment_BizzyBee>
                <class>Efulfilment_BizzyBee</class>
            </Efulfilment_BizzyBee>
            <importexport>
              <rewrite>
                <!-- Override Mage_ImportExport_Model_Import_Entity_Product -->
                <import_entity_product>Efulfilment_BizzyBee_Model_Import_Entity_Product</import_entity_product>
              </rewrite>
            </importexport>
        </models>
        <events>
            <catalog_product_save_after>
                <observers>
                    <Efulfilment_BizzyBee>
                        <class>Efulfilment_BizzyBee_Model_Observer</class>
                        <method>syncProduct</method>
                        <type>singleton</type>
                    </Efulfilment_BizzyBee>
                </observers>
            </catalog_product_save_after>
            <customer_save_after>
                <observers>
                    <Efulfilment_BizzyBee>
                        <class>Efulfilment_BizzyBee_Model_Observer</class>
                        <method>syncCustomer</method>
                        <type>singleton</type>
                    </Efulfilment_BizzyBee>
                </observers>
            </customer_save_after>
            <sales_order_save_after>
                <observers>
                    <Efulfilment_BizzyBee>
                        <class>Efulfilment_BizzyBee_Model_Observer</class>
                        <method>syncOrder</method>
                        <type>singleton</type>
                    </Efulfilment_BizzyBee>
                </observers>
            </sales_order_save_after>
        </events>
         <helpers>
            <BizzyBee>
                <class>Efulfilment_BizzyBee_Helper</class>
            </BizzyBee>
        </helpers>
    </global>
     <admin>
        <routers>
            <BizzyBee>
                <use>admin</use>
                <args>
                    <module>Efulfilment_BizzyBee</module>
                    <frontName>BizzyBee</frontName>
                </args>
            </BizzyBee>
        </routers>
    </admin> 
    
    <adminhtml>
        <layout>
            <updates>
                <BizzyBee>
                    <file>BizzyBee.xml</file>
                </BizzyBee>
            </updates>
        </layout>
    </adminhtml>
</config>

